body {
	margin: 0;
}
.carousel-widget{
	position: relative;
}

.carousel-btn-next, .carousel-btn-auto { 
	height: 50px;
	width: 80px;
    background: black;
    color: white;
    border: 0;
}

.carousel-btn-auto {
	border-radius: 0 20px 20px 0;
	background: blue;
}

.carousel-btn-next {
	border-radius: 20px 0px 0px 20px;
}

.opacity-image {
	position: absolute;
	background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/32/Bee-apis.jpg');
	top: 0;
	left: 0;
	opacity: 0.1;
	transition: opacity 0.5s;
}

.opacity-image:hover {
	opacity: 0.5;
}

.carousel-color, .opacity-image {
	height: 100%;
	width: 100%;
}

.carousel-controls {
	position: absolute;
	text-align: center;
	top: 5vh;
	left: 50%;
    transform: translateX(-50%);
}

.carousel-controls, .carousel-image {
	margin: 0 auto;
}

.carousel-image {
	width: 50vw;
	height: 100vh;
	position: relative;
	border-right: 10px dotted black;
    border-left: 10px dotted blue;
}


.col-6 {
	width: 45%;
}

.row {
	display: inline-block;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}
